# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Datos (mantener estructura, no archivos grandes)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# OS / IDE
.DS_Store
.idea/
.vscode/
